.looper {
    width: 100%;
    overflow: hidden;
  }
  
  .looper__innerList {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
  }
  
  .looper__innerList[data-animate="true"] .looper__listInstance {
    animation: slideAnimation linear forwards;
  }
  
  .looper__listInstance {
    display: flex;
    width: max-content;
  }
  
  @keyframes slideAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  