.titulo-container{
  display: flex;
  justify-content: space-between;
  padding: 0 0 15px 0;
}

.titulo-table{
  color: #585C5F;
  font-weight: 600;
  font-size: 2rem;
}

.boton-table{
  background-color: #A65248;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.boton-table:hover {
  background-color: #954a41;
  transform: translateY(-2px);
  transition: .3s;
}

@media (max-width: 768px) {
  .titulo-table{
    font-size: 1.5rem;
  }
  .boton-table{
    padding: 4px 12px;
  }
}